tls:
  certificates:
    - certFile: /cert/{{ host_name }}.cert
    - keyFile: /cert/{{ host_name }}.key

http:
  services:
    dns-api:
      loadBalancer:
        servers:
          - url: "http://{{ dns_ip_adress }}:8080"
        passHostHeader: true
  routers:
    dns-api:  
      rule: "Host('{{ host_name }}')"
      service: dns-api
      entrypoints:
        - websecure
      tls:  
        domains:
          - main: "{{ host_name }}"
  
tcp: 
  services:
    dns: 
      loadBalancer:
        servers:
          - address: "{{ dns_ip_adress:53 }}"
  routers:
    dns-tcp:
      entrypoints:
        tcp-dns
    rule: "HostSNI('*')"
    service:  dns
  
udp: 
  services:
    dns: 
      loadBalancer:
        servers:
          - address: "{{ dns_ip_adress:53 }}"
  routers:
    dns-udp:
      entrypoints:
        udp-dns
    rule: "HostSNI('*')"
    service:  dns